<?xml version="1.0"?>
<robot name="duck">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/meiying/ros_devel_ws/src/learn_affordance_tamp/tamp/examples/pybullet/utils/models/meiying_duck.obj" />
      </geometry>
      <material name="yellow">
        <color rgba="1.0 1.0 0.0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/meiying/ros_devel_ws/src/learn_affordance_tamp/tamp/examples/pybullet/utils/models/meiying_duck.obj" />
      </geometry>
    </collision>
  </link>
</robot>
